* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #111;
}

.container {
  position: relative;
  width: 800px;
  height: 500px;
  background: #222;
}

.container .clip {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;

}

.container .clip.clip1 {
  background: url(Red_Dragon.png);
  border: 2px solid red;
  border-radius: 7px;
  background-size: cover;
  clip-path: polygon(0 0, 55% 0, 20% 100%, 0% 100%);
}

.container .clip.clip2 {
  background: url(Yellow_Dragon.png);
  border: 2px solid greenyellow;
  border-radius: 7px;
  background-size: cover;
  clip-path: polygon(55% 0, 100% 0, 45% 100%, 20% 100%);
}

.container .clip.clip3 {
  background: url(Green_Dragon.png);
  border: 2px solid blue;
  border-radius: 7px;
  background-size: cover;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 45% 100%);
}

.container:hover .clip {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  background-size: 800px 500px;
  background-repeat: no-repeat;

}

.container .clip:hover {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.container .clip .content {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 70%;
  padding: 20px;
  background: #fff;
  opacity: 0;
  transition: 0.5s;

}

.container .clip:hover .content {
  bottom: 0;
  opacity: 1;
}